{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">

</head>
<body>
    <center class="mt-5">
        <h1> Kontak </h1>
    </center>
    <div class="container mt-5">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="/static/img/sekolah.png" >
                    <div class="card-body">
                        <h5 class="card-title"> Data Sekolah </h5>
                        <a href="{% url 'sekolah:sekolah' %}" class="btn btn-primary w-100 ">Sekolah</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="/static/img/siswa.png" >
                    <div class="card-body">
                        <h5 class="card-title"> Data Siswa </h5>
                        <a href="{% url 'siswa:siswa' %}" class="btn btn-primary w-100 ">Siswa</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="/static/img/median.png" >
                    <div class="card-body">
                        <h5 class="card-title"> Data Perusahaan </h5>
                        <a href="{% url 'perusahaan:perusahaan' %}" class="btn btn-primary w-100 ">Perusahaan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

</body>
</html>