{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Sekolah</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
</head>

<body>
  {% include 'pkl/layout/nav.html' %}

  <div class="container mt-5">
    <div class="row">
      <div class="">
        <table class="table table-light table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">NPSN</th>
              <th scope="col">Nama_SMK</th>
              <th scope="col">Email</th>
              <th scope="col">Telp</th>
              <th scope="col">Alamat</th>
              <th scope="col">Provinsi</th>
              <th scope="col">Kabupaten_kota</th>
              <th scope="col">Kecamatan</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for x in sekolah %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ x.NPSN }}</td>
              <td>{{ x.Nama }}</td>
              <td>{{ x.Email }}</td>
              <td>{{ x.Telp }}</td>
              <td>{{ x.Alamat }}</td>
              <td>{{ x.Provinsi }}</td>
              <td>{{ x.Kabupaten_Kota }}</td>
              <td>{{ x.Kecamatan }}</td>
              <td>{{ x.Status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>